@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.container {
   max-width: 1110px;
    margin: 0 auto;
}

h1 {
    font-family: "Oswald";
    font-weight: 600;
    font-size: 64px;
    text-align: center;
}
p {
    font-family: "Oswald";
    color: black;
    max-width: 734px;
    height: 22px;
    font-size: 18px;
}


.hero__content {
    background: #F7F7F7;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.numder {
    font-family: "Oswald";
    color: #F7654A;
    font-size: 72px;
    font-weight: 500;

}
.let {
    font-family: "Oswald";
    width: 190px;
    height: 43px;
    font-size: 36px;
}
.bazar {
    font-family: "Oswald";
    color: grey;
    width: 190px;
    height: 22px;
    font-size: 18px;
    margin-top: 10px;
}
.pro {
    margin-top: 100px;
    margin-bottom: 60px;
    font-family: "Oswald";
    color: #404149;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    
}
.arena {
    font-family: "Oswald";
    color: #404149;
    width: 142px;
    height: 29px;
    font-size: 24px;
    margin-bottom: 20px;
}
.op {
    font-family: "Oswald";
    color: #404149;
    max-width: 350px;
    height: 83px;
    font-size: 16px;
}
.red {
    background: #F7654A;
    width: 55px;
    height: 6px;
    margin-top: 45px;
    margin-bottom: 15px;
}
.rob__content{
    display: flex;
    gap: 30px;
}
.cub {
    background: #F7654A;
    height: 181px;
    margin-top: 150px;
    margin-bottom: 150px;
}

.stroy {
    font-family: "Oswald";
    color: #FFFFFF;
    max-width: 537px;
    height: 57px;
    font-size: 48px;
}
.realiz {
    font-family: "Oswald";
    color: #FFFFFF;
    max-width: 562px;
    height: 29px;
    font-size: 24px;
}
 .zap {
       margin-left: 935px;
       cursor: pointer;
       height: 49px;
 }
 .sap {
    font-family: "Oswald";
    color: #000;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 66px;
 }

 .group__content {
    background: #F7F7F7;
    max-width: 350px;
    height: 250px;
 }

 h2 {
   color: #000;
   font-family: "Oswald";
 }

 .group__info {
    margin: auto;
    text-align: center;
   font-size: 21px;
}

.group-img {
    margin-top: 59px;
    width: 60px;
    height: 40px;
}

.sviz {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.brand {
    margin-top: 150px;

}

.brand__content {
    display: flex;
}

.brand__contant{
    display: flex;
    margin-bottom: 150px;
}

.brand_img {
    width: 100%;
}

.work__info1, .work__info3 {
    display: flex;
    gap: 15px;
    margin-bottom: 40px;
}

.work__info2, .work__info4 {
    display: flex;
    gap: 15px;
}

.sam {
    font-family: "Oswald";
    color: #000;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}

.text {
    color:#999999 ;
    font-family: "Open Sans";
    max-width: 730px;
    margin-top: 30px;
    margin-bottom: 40px;
                                                                                 
}

.work-text {
    color:#F7654A;
    font-family: "Oswald";
    font-size: 24px;
    font-weight: 600;
}


 